@using PingMeChat.CMS.Application.Feature.Service.Customers.Dto
@model CustomerCreateDto
@*Modal để thêm mới Khách hàng*@
<div class="modal fade" id="CreateCustomerModal" tabindex="-1" aria-labelledby="CreateCustomerModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="CreateCustomerModalLabel">Thêm mới Khách hàng</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="CreateCustomerForm">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="mb-3">
                                <label for="FullName" class="form-label">Họ và tên<span class="text-danger">*</span> </label>
                                <input asp-for="FullName" type="text" class="form-control" placeholder="Nhập Họ tên Khách hàng">
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="mb-3">
                                <label for="PhoneNumber" class="form-label">Điện thoại<span class="text-danger">*</span> </label>
                                <input asp-for="PhoneNumber" type="text" class="form-control" placeholder="Nhập Số điện thoại">
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="mb-3">
                                <label for="Address" class="form-label">Địa chỉ<span class="text-danger">*</span> </label>
                                <input asp-for="Address" type="text" class="form-control" placeholder="Nhập Địa chỉ">
                            </div>
                        </div>
                    </div>
                    @await Html.PartialAsync("~/Views/Shared/Components/Element/SaveComponent.cshtml")
                </form>
            </div>
        </div>
    </div>
</div>


