@using PingMeChat.CMS.Application.Feature.Service.Customers.Dto
@model CustomerDto
<div class="modal-content">
    <!-- Modal Header -->
    <div class="modal-header bg-warning text-white">
        <h5 class="modal-title" id="customerModalLabel">Cập nhật</h5>
        <button type="button" class="close text-white" data-bs-dismiss="modal" aria-bs-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <!-- Modal Body -->
    <div class="modal-body">
        <form id="customerForm">
            <div class="form-row">
                <div class="col-12 col-md-6 d-none">
                    <div class="mb-3">
                        <input asp-for="Id" type="text" class="form-control form-control-sm" readonly hidden>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="mb-3">
                        <label for="FullName" class="form-label">Họ và tên<span class="text-danger">*</span> </label>
                        <input asp-for="FullName" type="text" class="form-control form-control-sm" placeholder="Nhập Họ tên Khách hàng">
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="mb-3">
                        <label for="PhoneNumber" class="form-label">Điện thoại<span class="text-danger">*</span> </label>
                        <input asp-for="PhoneNumber" type="text" class="form-control form-control-sm" placeholder="Nhập Số điện thoại">
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="mb-3">
                        <label for="Address" class="form-label">Địa chỉ<span class="text-danger">*</span> </label>
                        <input asp-for="Address" type="text" class="form-control form-control-sm" placeholder="Nhập Địa chỉ">
                    </div>
                </div>
            </div>
        </form>

    </div>
    <!-- Modal Footer -->
    <div class="modal-footer">
        @await Html.PartialAsync("~/Views/Shared/Components/Element/SaveAndCancel.cshtml")
    </div>
</div>
