@{
    ViewData["Title"] = "Danh sách khách hàng";
}

@section scripts
{
    <environment names="Development">
        <script src="~/lb-views/customer/index.js" asp-append-version="true"></script>

    </environment>

    <environment names="Staging,Production">
        <script src="~/lb-views/customer/index.js" asp-append-version="true"></script>
    </environment>
}

@section styles {
    <link rel="stylesheet" href="~/lb-views/customer/site.css" />
}
<div class="container-fluid mt-3">

    <div class="card">
        <div class="card-header">
            <div class="function-header">
                <div class="d-flex mb-3">
                    <button class="btn btn-outline-primary me-2" data-bs-target="#CreateCustomerModal" data-bs-toggle="modal">
                        <i class="fas fa-plus-circle me-1"></i>Tạo mới
                    </button>

                </div>
            </div>
            <form id="form-filter" class="d-block">
                @await Html.PartialAsync("/Views/Customer/Index.AdvancedSearch.cshtml")

            </form>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="tableId" class="table table-striped table-bordered w-100">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th></th>
                            <th>Tên khách hàng</th>
                            <th>Số điện thoại</th>
                            <th>Địa chỉ</th>
                            <th>Tác vụ</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- DataTables sẽ tự động điền dữ liệu vào đây -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    @*Modal tạo mới Customer*@
    @await Html.PartialAsync("/Views/Customer/_Create.cshtml", null)

    @*Modal hiển thị chi tiết CustomerType*@
    <div class="modal fade" id="ViewDetailCustomerModal" tabindex="-1" aria-labelledby="ViewDetailCustomerModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
        </div>
    </div>

    @*Modal cập nhật Customer*@
    <div class="modal fade" id="UpdateCustomerModal" tabindex="-1" aria-labelledby="UpdateCustomerModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content"></div>
        </div>
    </div>


    @*Modal xoá Customer*@
    @await Html.PartialAsync("/Views/Customer/_Delete.cshtml", null)
</div>


