@using PingMeChat.CMS.Application.Feature.Service.Products.Dto
@model ProductDto
@*Modal để thêm mới loại bàn*@
<div class="modal fade" id="CreateProductModal" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createModalLabel">Thêm mới Sản phẩm/ Dịch vụ</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="CreateProductForm">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="mb-3">
                                <label for="Name" class="form-label">Tên sản phẩm <span class="text-danger">*</span> </label>
                                <input asp-for="Name" type="text" class="form-control form-control-sm" placeholder="Nhập tên sản phẩm">
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="mb-3">
                                <label for="Price" class="form-label">Giá bán (dự kiến) <span class="text-danger">*</span> </label>
                                <input asp-for="Price" type="text" class="form-control form-control-sm money-input" placeholder="Nhập mã sản phẩm">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mb-3">
                                <label for="Description" class="form-label">Mô tả </label>
                                <textarea asp-for="Description" type="text" class="form-control form-control-sm" placeholder="Nhập mô tả sản phẩm"> </textarea>
                            </div>
                        </div>

                    </div>
                    @await Html.PartialAsync("~/Views/Shared/Components/Element/SaveComponent.cshtml")
                </form>
            </div>
        </div>
    </div>
</div>


