@using PingMeChat.CMS.Application.Feature.Service.Products.Dto
@model ProductDto
<div class="modal-content">
    <!-- Modal Header -->
    <div class="modal-header bg-info text-white">
        <h5 class="modal-title" id="ProductModalLabel">Chi tiết</h5>
        <button type="button" class="close text-white" data-bs-dismiss="modal" aria-bs-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <!-- Modal Body -->
    <div class="modal-body">
        <form id="ProductForm">
            <div class="form-row">
                <div class="form-group col-md-6 d-none">
                    <label asp-for="Id">ID</label>
                    <input asp-for="Id" class="form-control form-control-sm" readonly hidden />
                </div>
                <div class="col-12 col-md-6">
                    <div class="mb-3">
                        <label for="Code" class="form-label">Mã sản phẩm</label>
                        <input asp-for="Code" type="text" class="form-control form-control-sm" readonly>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="mb-3">
                        <label for="Name" class="form-label">Tên sản phẩm </label>
                        <input asp-for="Name" type="text" class="form-control form-control-sm" readonly>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="mb-3">
                        <label for="Price" class="form-label">Giá bán (dự kiến) </label>
                        <input asp-for="Price" value="@Model.Price.FormatToCurrency()" type="text" class="form-control form-control-sm money-input" readonly>
                    </div>
                </div>
                <div class="col-12">
                    <div class="mb-3">
                        <label for="Description" class="form-label">Mô tả </label>
                        <textarea asp-for="Description" type="text" class="form-control form-control-sm" readonly> </textarea>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="CreatedDate">Ngày tạo</label>
                    <input value="@Model.CreatedDate.ToVietNamFormat()" class="form-control form-control-sm" readonly />
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="CreatedBy">Tạo bởi</label>
                    <input asp-for="CreatedBy" class="form-control form-control-sm" readonly />
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="UpdatedDate">Ngày cập nhật</label>
                    <input value="@Model.UpdatedDate.ToVietNamFormat()" class="form-control form-control-sm" readonly />
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="UpdatedBy">Cập nhật bởi</label>
                    <input asp-for="UpdatedBy" class="form-control form-control-sm" readonly />
                </div>
            </div>
        </form>
    </div>
    <!-- Modal Footer -->
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
    </div>
</div>
