@using PingMeChat.CMS.Application.Feature.Service.Products.Dto
@model ProductDto
<div class="modal-content">
    <!-- Modal Header -->
    <div class="modal-header bg-warning text-white">
        <h5 class="modal-title" id="ProductModalLabel">Cập nhật</h5>
        <button type="button" class="close text-white" data-bs-dismiss="modal" aria-bs-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <!-- Modal Body -->
    <div class="modal-body">
        <form id="ProductForm">
            <div class="form-group col-md-12 d-none">
                <label asp-for="Id">ID</label>
                <input asp-for="Id" class="form-control" readonly hidden />
            </div>
            <div class="form-group col-md-12 d-none">
                <input asp-for="Code" class="form-control" readonly hidden />
            </div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="mb-3">
                        <label for="Name" class="form-label">Tên sản phẩm <span class="text-danger">*</span> </label>
                        <input asp-for="Name" type="text" class="form-control form-control-sm" placeholder="Nhập tên sản phẩm">
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="mb-3">
                        <label for="Price" class="form-label">Giá bán (dự kiến) <span class="text-danger">*</span> </label>
                        <input asp-for="Price" type="text" class="form-control form-control-sm money-input" placeholder="Nhập mã sản phẩm" data-raw-value="@Model.Price">
                    </div>
                </div>
                <div class="col-12">
                    <div class="mb-3">
                        <label for="Description" class="form-label">Mô tả </label>
                        <textarea asp-for="Description" type="text" class="form-control form-control-sm" placeholder="Nhập mô tả sản phẩm"> </textarea>
                    </div>
                </div>

            </div>
        </form>
    </div>
    <!-- Modal Footer -->
    <div class="modal-footer">
        @await Html.PartialAsync("~/Views/Shared/Components/Element/SaveAndCancel.cshtml")
    </div>
</div>
