


<div class="advanced-search mt-3">
    <div class="row g-3">
        <div class="col-6">
            <div class="form-group position-relative">
                <label for="dateRange" class="date-range-label">Trạng thái thanh toán</label>
                <div class="input-group">
                    <select id="selectStatus" class="form-control date-range-input">
                        <option selected value="">--Tất cả--</option>
                        <option  value="1">Hoạt động</option>
                        <option  value="0">Dừng hoạt động</option>
                    </select>

                </div>
            </div>
        </div>
    </div>
</div>
