@using PingMeChat.CMS.Application.Feature.Service.BidaTables.Dto;
@model BidaTableDto
<div class="modal-content">
    <!-- Modal Header -->
    <div class="modal-header bg-info text-white">
        <h5 class="modal-title" id="bidaTableModalLabel">Chi tiết</h5>
        <button type="button" class="close text-white" data-bs-dismiss="modal" aria-bs-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <!-- Modal Body -->
    <div class="modal-body">
        <form id="bidaTableForm">
            <div class="form-row">
                <div class="form-group col-md-6 d-none">
                    <label asp-for="Id">ID</label>
                    <input asp-for="Id" class="form-control" readonly hidden />
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Code">Mã bàn</label>
                    <input asp-for="Code" class="form-control" readonly />
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Price">Giá</label>
                    <input asp-for="Price" class="form-control" readonly />
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="BidaTableTypeName">Loại bàn</label>
                    <input asp-for="BidaTableTypeName" class="form-control" readonly />
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="BidaTableStatusName">Trạng thái</label>
                    <input asp-for="BidaTableStatusName" class="form-control" readonly />
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="CreatedDateString">Ngày tạo</label>
                    <input asp-for="CreatedDateString" class="form-control" readonly />
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="CreatedBy">Tạo bởi</label>
                    <input asp-for="CreatedBy" class="form-control" readonly />
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="UpdatedDateString">Ngày cập nhật</label>
                    <input asp-for="UpdatedDateString" class="form-control" readonly />
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="UpdatedBy">Cập nhật bởi</label>
                    <input asp-for="UpdatedBy" class="form-control" readonly />
                </div>
            </div>
        </form>
    </div>
    <!-- Modal Footer -->
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
    </div>
</div>
