@using PingMeChat.CMS.Entities.Feature;
<div class="advanced-search mt-3">
    <div class="row g-3">
        <div class="col-6">
            <div class="form-group position-relative">
                <label for="dateRange" class="date-range-label">Trạng thái</label>
                <div class="input-group">
                    <select name="BidaTableStatus" class="form-control date-range-input" asp-items="Html.GetEnumSelectList<BidaTableStatus>()">
                        <option selected value="">--Tất cả--</option>
                    </select>

                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group position-relative">
                <label for="dateRange" class="date-range-label">Loại bàn</label>
                <div class="input-group">
                    <select name="BidaTableTypeId" class="form-control date-range-input" data-enum="false" asp-items="ViewBag.BidaTableType">
                        <option selected value="">--Tất cả--</option>
                    </select>

                </div>
            </div>
        </div>

    </div>
</div>
