@using PingMeChat.CMS.Application.Feature.Service.BidaTables.Dto
@model BidaTableTypeCreateDto
@*Modal để thêm mới loại bàn*@
<div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createModalLabel">Thêm mới loại bàn</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="CreateBidaTableTypeForm">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="mb-3">
                                <label for="Name" class="form-label">Tên loại bàn <span class="text-danger">*</span> </label>
                                <input asp-for="Name" type="text" class="form-control form-control-sm" placeholder="Nhập tên loại bàn">
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="mb-3">
                                <label for="Price" class="form-label">Giá dịch vụ (vnđ) <span class="text-danger">*</span> </label>
                                <input asp-for="Price" type="text" class="form-control form-control-sm money-input" placeholder="Nhập giá dịch vụ chơi">
                            </div>
                        </div>
                    </div>
                    @await Html.PartialAsync("~/Views/Shared/Components/Element/SaveComponent.cshtml")
                </form>
            </div>
        </div>
    </div>
</div>


