@{
    ViewData["Title"] = "Quản lý loại bàn bida";
}

@section scripts
    {
    <environment names="Development">
        <script src="~/lb-views/bidaTableType/index.js" asp-append-version="true"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

    </environment>

    <environment names="Staging,Production">
        <script src="~/lb-views/bidaTableType/index.js" asp-append-version="true"></script>
    </environment>
}
@section styles{
    <link rel="stylesheet" href="~/lb-views/bidaTableType/index.css" />
}
<div class="container-fluid mt-3">

    <div class="card">
        <div class="card-header">
            <div class="function-header">
                <div class="d-flex mb-3">
                    @*<button class="btn btn-warning me-2" id="btn-filter"> <i class="fas fa-search me-1 "></i>Bộ lọc</button>*@
                    @*<button class="btn btn-outline-secondary bg-primary me-2" data-bs-target="#CreateBidaTableTypeModal" data-bs-toggle="modal"> <i class="fas fa-plus-circle me-1"></i>Tạo mới</button>*@
                    @await Html.PartialAsync("/Views/BidaTableType/Index.AdvancedHeader.cshtml")

                </div>
            </div>
            <form id="form-filter" class="d-block">
                @* @await Html.PartialAsync("/Views/BidaTableType/Index.CustomSearch.cshtml") *@
                @await Html.PartialAsync("/Views/BidaTableType/Index.AdvancedSearch.cshtml")

            </form>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="BidaTableType-table" class="table table-striped table-bordered w-100">
                    <thead>
                        <tr>
                            <th class="text-center">STT</th>
                            <th class="text-center">ID</th>
                            <th class="text-center">Tên loại bàn</th>
                            <th class="text-center">Giá dịch vụ</th>
                            <th class="text-center">Ngày tạo</th>
                            <th class="text-center">Tác vụ</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- DataTables sẽ tự động điền dữ liệu vào đây -->
                    </tbody>
                </table>
            </div>
            @*Modal tạo mới BidaTableType*@
            @await Html.PartialAsync("/Views/BidaTableType/_Create.cshtml", null)
            @*Modal hiển thị chi tiết BidaTableType*@
            <div class="modal fade" id="ViewDetailBidaTableTypeModal" tabindex="-1" aria-labelledby="ViewDetailBidaTableTypeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                </div>
            </div>

            @*Modal cập nhật BidaTableType*@
            <div class="modal fade" id="UpdateBidaTableTypeModal" tabindex="-1" aria-labelledby="UpdateBidaTableTypeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content"></div>
                </div>
            </div>

            @*Modal xoá BidaTableType*@
            @await Html.PartialAsync("/Views/BidaTableType/_Delete.cshtml", null)


        </div>
    </div>
</div>


