<div class="advanced-search mt-3">
    <div class="row g-3">
        <div class="col-6">
            <div class="form-group position-relative">
                <label for="dateRange" class="date-range-label">Ngày tạo</label>
                <div class="input-group">
                    <input type="text" class="form-control date-range-input" id="dateRange" readonly>
                    <button class="btn btn-outline-secondary" type="button" id="dateRangeBtn">
                        <i class="fas fa-calendar-week me-1"></i> Tùy chỉnh
                    </button>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group position-relative">
                <label for="dateRange" class="date-range-label">Trạng thái</label>
                <div class="input-group">
                    <select class="form-control date-range-input">
                        <option selected value="">--Tất cả--</option>
                    </select>

                </div>
            </div>
        </div>
         <div class="col-6">
            <div class="form-group position-relative">
                <label for="dateRange" class="date-range-label">Trạng thái thanh toán</label>
                <div class="input-group">
                    <select class="form-control date-range-input">
                        <option selected value="">--Tất cả--</option>
                    </select>

                </div>
            </div>
        </div>
           <div class="col-6">
            <div class="form-group position-relative">
                <label for="dateRange" class="date-range-label">Hình thức thanh toán</label>
                <div class="input-group">
                    <select class="form-control date-range-input">
                        <option selected value="">--Tất cả--</option>
                    </select>

                </div>
            </div>
        </div>

    </div>
</div>
