
<div class="row p-2">
    <div class="col-sm">
        <div class="float-sm-right">
            <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Lưu</button>
            <button type="reset" class="btn btn-primary"><i class="fas fa-sync"></i> Làm mới</button>
        </div>
    </div>
</div>