<div class="modal-footer justify-content-start border-top-0 py-0 px-0">
    <div class="form-inline m-0">
        <div class="form-group border rounded">
            <button type="submit" class="btn btn-light save-button py-1 px-2">
                <i class="far fa-check-circle text-primary text-md "></i> Lưu
            </button>

            <button type="button" class="closeModal btn btn-light save-button py-1 px-2" data-dismiss="modal">
                <i class="far fa-times-circle text-danger text-md "></i> Hủy
            </button>
        </div>
    </div>
</div>
