<footer class="main-footer">
    <!-- To the right -->
    <div class="float-right hidden-xs">
        @*content*@
    </div>
    <!-- Default to the left -->
    <strong>Bản quyền &copy; @DateTime.Now.Year <a href="#">Hinetech</a>.</strong>.
</footer>