@{
    ViewData["Title"] = "Tạo mới bàn bida";
}

@section scripts
    {
    <environment names="Development">
        <script src="~/lb-views/bidaTable/index.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/lb-views/bidaTable/index.js" asp-append-version="true"></script>
    </environment>
}

<div class="container-fluid mt-3">

    <div class="modal fade" id="cancelOrderModal" tabindex="-1" role="dialog" aria-labelledby="cancelOrderModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="cancelOrderModalLabel">Hủy đơn hàng</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="cancelOrderForm">
                        <input type="hidden" name="orderId" id="orderId" />
                        <div class="form-group mt-3">
                            <label for="cancelDescription">Lý do huỷ đơn </label><span class="text-danger"> *</span>
                            <textarea class="form-control" id="cancelDescription" name="cancelDescription" rows="3" required></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    @await Html.PartialAsync("~/Views/Shared/Components/Element/ConfirmComponent.cshtml")
                </div>
            </div>
        </div>
    </div>

</div>


