@using PingMeChat.CMS.Entities.Feature;

<div class="advanced-search mt-3">
    <div class="row g-3">
        <div class="col-6 row mt-3">
            <div class="col-6 form-group mb-1">
                <label class="date-range-label" for="startDate">Từ ngày</label>
                <div class="input-group">
                    <input type="datetime-local" id="startDate" name="startTime" class="form-control form-control-sm d-inline-block w-auto">
                </div>
            </div>
            <div class="col-6 form-group mb-1">
                <label class="date-range-label" for="endDate">Đến ngày</label>
                <div class="input-group">
                    <input type="datetime-local" id="endDate" name="endTime" class="form-control form-control-sm d-inline-block w-auto">
                </div>
            </div>
            <div id="dateError" class="text-danger mb-2"></div>
        </div>
         <div class="col-6">
            <div class="form-group position-relative">
                <label for="dateRange" class="date-range-label">Người tạo</label>
                <div class="input-group">
                    <select class="form-control form-control-sm date-range-input" name="StaffName" asp-items="@ViewBag.Users" data-enum="false">
                        <option selected value="">--Tất cả--</option>
                    </select>

                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group position-relative">
                <label for="dateRange" class="date-range-label">Trạng thái thanh toán</label>
                <div class="input-group">
                    <select class="form-control form-control-sm date-range-input" name="OrderStatus" asp-items="Html.GetEnumSelectList<Status>()">
                        <option selected value="">--Tất cả--</option>
                    </select>

                </div>
            </div>
        </div>
           <div class="col-6">
            <div class="form-group position-relative">
                <label for="dateRange" class="date-range-label">Hình thức thanh toán</label>
                <div class="input-group">
                    <select class="form-control form-control-sm date-range-input" name="PaymentMethod" asp-items="Html.GetEnumSelectList<PaymentMethod>()">
                        <option selected value="">--Tất cả--</option>
                    </select>

                </div>
            </div>
        </div>

    </div>
</div>

